body {
	margin-top: 3%;
	font-family: 'Roboto Mono', monospace;
	color: rgb(54, 54, 54);
}

/* Bio -----------------------------------------------------------------------*/

h1 {
	font-size: 52px;
}

p {
	font-size: 18px;
}

.hidden {
	display: none;
}

/* Links tab -----------------------------------------------------------------*/

ul {
	padding-right: 0.8em;
}

li {
	list-style: none;
	text-align: right;
}

li a {
	font-size: 16px;
	color: rgb(96, 96, 96);
	transition-duration: 0.2s;
}

li a:hover {
	padding-right: 8px;
	font-weight: bold;
	color: rgb(48, 48, 48);
	text-decoration: none;
}

/* Project thumbnails --------------------------------------------------------*/

* {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-img {
	width: 100%;
}

.project-desc {
	overflow: auto;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 0.8em;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
	padding-right: 0.8em;
	padding-left: 0;
	padding-bottom: 0.8em;
}